Body {
    background: url("https://previews.123rf.com/images/zagory/zagory1802/zagory180200094/95991793-seamless-pattern-on-the-theme-of-childhood-fun-and-friendship-a-simple-hand-drawn-icons-light-contou.jpg?fj=1")}
h1{ background-color: aqua;}

    h2 {background-color: rgb(72, 175, 175);}
hr{line: rgb(43, 19, 2);}
h3{font-style: italic; font-size: medium; font-colore:rgb(161, 16, 16)}

a {font-size:large;}
a {background-color: rgb(247, 243, 243);}